

* {
  box-sizing: border-box;
}

/* GRID CONTAINER */
body {
  display: grid;
  grid-template-columns: minmax(180px, 25%) auto;

  font-family: 'Helvetica', sans-serif;
  color: #333;
}

/* -----------------------------------
Nav bar styling
-------------------------------------*/
#navbar {
  position: sticky;  /* fixed would remove item from grid formatting context */
  top: 0px;
  height: 100vh; /* prevents scrolling */
  background-color: white;
  border-right: 3px solid #bbb;

  /* FLEX CONTAINER */
  display: flex;
  flex-direction: column; 
}
#navbar header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}
.nav-link {
  padding: 15px;
  border-top: 1px solid #888;
  text-decoration: none;
  color: black;
}

/* -----------------------------------
Main  content area styling
-------------------------------------*/

#main-doc .main-section {
  padding: 10px;
  margin-top: 10px;
}

.main-section header {
  font-size: 1.3rem;
  font-weight: bold;
}

.main-section p {
  margin: 5px 0;
}

.main-section code {
  display: block;
  margin: 5px 0 5px 15px;
  font-family: 'Courier New', Courier, monospace;
}

/* ----------------------------------- */
@media (max-width: 600px) {
  body {
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }

  #navbar {
    height: auto;
    border-right: none;
    border-bottom: 3px solid #bbb;
  }
}
